.navbar
{
    display: flex;
    width:84% ;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    .ul
    {
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        width: 60%;

        .hm{
            display: none;
        }
    }
}
@media screen and (max-width: 480px) {
    .navbar
    {
        .ul{
            display: flex;
            flex-direction:column;
            .hm{
                display: flex;
            }
        }
    }
}